.red-star {
	color: red;
}

.way {
	color: var(--Gray-1, #828282);
	text-align: center;
	font-family: "Roboto";
	font-size: 14px;
	line-height: 36px;
}

// input {
// 	border: 1px solid var(--Divider, #C4C4C4);
// 	background: #FFF;
// 	height: 44px;
// 	padding-left: 14px;
// 	outline: none;
// 	cursor: pointer;
// 	color: 3F3F3F;
// 	transition: all 0.3s ease 0s;
// 	&::placeholder {
// 		color: var(--Gray-1, #828282);
// 		line-height: 20px;
// 	}
// 	&:hover::placeholder {
// 		color: #000;
// 	}
// 	&:hover {
// 		border: 1px solid var(--Divider, #000);
// 	}
// 	&:focus {
// 		border-radius: 0px;
// 		outline: auto;
// 	}
// 	&:focus::placeholder {
// 		opacity: 0;
// 	}
// }